{{define "title"}}Note #{{.Note.ID}}{{end}}

{{define "main"}}
{{with .Note}}
<div class="note">
    <div class="note__inner">
        <div class="metadata">
            <span>{{.Title}}</span>
            <span class="metadata__id">#{{.ID}}</span>
        </div>
        <div><code>{{.Content}}</code></div>
    </div>
    <div class="dates">
        <time>Created {{.Created}}</time>
        <time>Expires {{.Expires}}</time>
    </div>
</div>
{{end}}
{{end}}